@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

$color-white: rgb(255, 255, 255);
$color-black30: rgb(30, 30, 30); 
$color-gray: rgb(90, 90, 90);
$color-red: rgb(210, 30, 30);
$color-aqua: rgb(30, 120, 180);
$color-green180: rgb(30, 180, 90);
$color-green120: rgb(30, 120, 60);

$color-timestamp: $color-gray;
$color-author-name: $color-aqua;
$color-owner: $color-green180;
$color-moderator: $color-red;
$color-member: $color-green120;
$color-message: $color-black30;
$color-bg-balloon: $color-white;
$color-bg-balloon-member: $color-member;

$font: "Hachi Maru Pop", cursive;

@mixin bg-color-transparent() {
  background-color: transparent !important;
}

/* Background colors*/
body {
  overflow: hidden;
  @include bg-color-transparent();
}
/* Transparent background. */
yt-live-chat-renderer {
  @include bg-color-transparent();
}
yt-live-chat-text-message-renderer {
  &,
  &[is-highlighted] {
    @include bg-color-transparent();
  }
  &[author-type="owner"] {
    &,
    &[is-highlighted] {
      @include bg-color-transparent();
    }
  }
  &[author-type="moderator"] {
    &,
    &[is-highlighted] {
      @include bg-color-transparent();
    }
  }
  &[author-type="member"] {
    &,
    &[is-highlighted] {
      @include bg-color-transparent();
    }
  }
}
yt-live-chat-author-chip {
  #author-name {
    @include bg-color-transparent();
  }
}


// /* Outlines */
// yt-live-chat-renderer {
//   * {
//     text-shadow: -2px -2px #000000,-2px -1px #000000,-2px 0px #000000,-2px 1px #000000,-2px 2px #000000,-1px -2px #000000,-1px -1px #000000,-1px 0px #000000,-1px 1px #000000,-1px 2px #000000,0px -2px #000000,0px -1px #000000,0px 0px #000000,0px 1px #000000,0px 2px #000000,1px -2px #000000,1px -1px #000000,1px 0px #000000,1px 1px #000000,1px 2px #000000,2px -2px #000000,2px -1px #000000,2px 0px #000000,2px 1px #000000,2px 2px #000000;
//     font-family: $font;
//     font-size: 18px !important;
//     line-height: 18px !important;
//   }
// }
// yt-live-chat-text-message-renderer,
// yt-live-chat-legacy-paid-message-renderer {
//   #content {
//     overflow: initial !important;
//   }
// }

/* Hide scrollbar. */
yt-live-chat-item-list-renderer {
  #items,
  #item-scroller {
    overflow: hidden !important;
  }
}

/* Hide header and input. */
yt-live-chat {
  &-header,
  &-message-input {
    &-renderer {
      display: none !important;
    }
  }
}

/* Reduce side padding. */
yt-live-chat {
  &-text,
  &-legacy-paid {
    &-message-renderer {
      padding-left: 4px !important;
      padding-right: 4px !important;
    }
  }
  &-paid-message-renderer {
    #header {
      padding-left: 4px !important;
      padding-right: 4px !important;
    }
  }
}

/* Avatars. */
yt-live-chat-text-message-renderer,
yt-live-chat-paid-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
  #author-photo {
    width: 32px !important;
    height: 32px !important;
    border-radius: 32px !important;
    margin-right: 6px !important;
  }
}

/* Hide badges. */
yt-live-chat-text-message-renderer {
  #author-badges {
    display: none !important;
    vertical-align: text-top !important;
  }
}

/* Timestamps. */
yt-live-chat-text-message-renderer {
  #timestamp {
    color: $color-timestamp !important;
    font-family: $font;
    font-size: 16px !important;
    line-height: 16px !important;
  }
}

/* Badges. */
yt-live-chat-text-message-renderer {
  #author-name[type="owner"],
  #author-name.owner,
  yt-live-chat-author-badge-renderer[type="owner"] {
    color: $color-owner !important;
  }
  #author-name[type="moderator"],
  #author-name.moderator,
  yt-live-chat-author-badge-renderer[type="moderator"] {
    color: $color-moderator !important;
  }
  #author-name[type="member"],
  #author-name.member,
  yt-live-chat-author-badge-renderer[type="member"] {
    color: $color-member !important;
  }
}



/* Channel names. */
yt-live-chat-text-message-renderer {
  #author-name {
    color: $color-author-name !important;
    font-family: $font;
    font-size: 16px !important;
    line-height: 1 !important;
  }
}

/* Messages. */
yt-live-chat-text-message-renderer {
  #message {
    &,
    & * {
      color: $color-message !important;
      font-family: $font;
      font-size: 14px !important;
      line-height: 1 !important;
    }
  }
}

/* SuperChat/Fan Funding Messages. */
yt-live-chat {
  &-paid,
  &-legacy-paid {
    &-message-renderer {
      & #author-name,
      & #event-text {
        &,
        & * {
          color: $color-white !important;
          font-family: $font;
          font-size: 20px !important;
          line-height: 20px !important;
        }
      }
      & #purchase-amount,
      & #detail-text {
        &,
        & * {
          color: $color-white !important;
          font-family: $font;
          font-size: 18px !important;
          line-height: 18px !important;
        }
      }

    }
  }
  &-paid-message-renderer {
    margin: 4px 0 !important;
    & #content {
      &,
      & * {
        color: $color-white !important;
        font-family: $font;
        font-size: 18px !important;
        line-height: 18px !important;
      }
    }
  }
  &-legacy-paid-message-renderer {
    @include bg-color-transparent();
    box-shadow: none !important;
    margin: 4px 0 !important;
  }
  &-text,
  &-legacy-paid {
    &-message-renderer {
      & a {
        text-decoration: none !important;
      }
      &[is-deleted] {
        display: none !important;
      }
    }
  }
  
  &-ticker {
    &-renderer {
      background-color: transparent !important;
      box-shadow: none !important;
      display: none !important;
    }
    &-paid-message,
    &-sponsor {
      &-item-renderer {
        &,
        & * {
          color: $color-white !important;
          font-family: $font;
        }
      }
    }
  }
  &-mode-change-message,
  &-viewer-engagement-message,
  &-restricted-participation {
    &-renderer {
      display: none !important;
    }
  }
  &-banner-manager {
    display: none !important;
  }
  &-action-panel-renderer,
  &-renderer #action-panel {
    display: none !important;
  }
}

/* Animation */
@keyframes anime {
  0% {
    transform: scale(0) translateY(5px);
    transform-origin: left;
    opacity: 0;
  }
  10% {
    transform: scale(1) translateY(0);
    transform-origin: left;
    opacity: 1;
  }
  90% {
    transform: scale(1) translateY(0);
    transform-origin: left;
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
    transform-origin: left;
    opacity: .25;
  }
}

@keyframes anime_paid {
  0% {
    transform: scale(0) translateY(5px);
    transform-origin: left;
    opacity: 0;
  }
  10% {
    transform: scale(1) translateY(0);
    transform-origin: left;
    opacity: 1;
  }
  90% {
    transform: scale(1) translateY(0);
    transform-origin: left;
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
    transform-origin: left;
    opacity: .25;
  }
}

yt-live-chat {
  &-text,
  &-legacy-paid {
    &-message-renderer {
      animation: anime 10000ms both;
    }
  }
}

yt-live-chat {
  &-paid {
    &-message-renderer {
      animation: anime_paid 10000ms both;
    }
  }
}

/*Speech bubble*/
yt-live-chat {
  &-text,
  &-legacy-paid {
    &-message-renderer {
      #content{
        width: auto;
        margin-left: 10px;
        background-color: $color-bg-balloon;
        padding: .25em .25em .75em;
        border-radius: 8px;
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 30%;
          left: -18px;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 10px 0px 0px 20px;
          border-color: $color-bg-balloon transparent transparent;
          transform: rotate(16deg);
        }
      }
      #message {
        display: block;
        margin-top: 5px;
      }      
    }
  }
}
yt-live-chat {
  &-legacy-paid {
    &-message-renderer {
      #content{
        background-color: $color-bg-balloon-member;
        &::before {
          border-color: $color-bg-balloon-member transparent transparent;
        }
      }
    }
  }
}
