@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

$color-timestamp: rgb(90, 90, 90);
$color-author-name: rgb(255, 255, 255);
$color-owner: rgb(141, 127, 218);
$color-moderator: rgb(210, 30, 30);
$color-member: rgb(226, 166, 97);
$color-message: rgb(255, 255, 255);
$color-message-window: rgb(30, 30, 30);
$color-message-window-border: rgb(255, 255, 255);

$font: 'DotGothic16', sans-serif;

@mixin bg-color-transparent() {
  background-color: transparent !important;
}

@mixin window() {
  box-sizing: border-box;
  background-color: $color-message-window;
  border: 2px solid $color-message-window-border;
  border-radius: 4px;
}

@mixin message-window() {
  @include window();
  padding: 32px 8px 16px;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 32px !important;
  }
  & #content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@mixin name-window() {
  @include window();
  padding: .5em .75em .55em;
  position: absolute;
  top: -16px;
  left: 8px;
  &::after {
    content: ":";
  }
}

/* Background colors*/
body {
  overflow: hidden;
  @include bg-color-transparent();
}
/* Transparent background. */
yt-live-chat-renderer {
  @include bg-color-transparent();
  outline: none !important;
  padding: 32px 4px;
}
yt-live-chat-text-message-renderer {
  &,
  &[is-highlighted] {
    @include message-window();
  }
  &[author-type="owner"] {
    &,
    &[is-highlighted] {
      @include message-window();
    }
  }
  &[author-type="moderator"] {
    &,
    &[is-highlighted] {
      @include message-window();
    }
  }
  &[author-type="member"] {
    &,
    &[is-highlighted] {
      @include message-window();
    }
  }
}
yt-live-chat-author-chip {
  #author-name {
    @include message-window();
  }
}

/* Hide scrollbar. */
yt-live-chat-item-list-renderer {
  #items,
  #item-scroller {
    overflow: hidden !important;
  }
}

/* Hide header and input. */
yt-live-chat {
  &-header,
  &-message-input {
    &-renderer {
      display: none !important;
    }
  }
}

/* Avatars. */
yt-live-chat-text-message-renderer,
yt-live-chat-paid-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
  #author-photo {
    display: none !important;
  }
}

/* Hide badges. */
yt-live-chat-text-message-renderer {
  #author-badges {
    display: none !important;
    vertical-align: text-top !important;
  }
}

/* Timestamps. */
yt-live-chat-text-message-renderer {
  #timestamp {
    color: $color-timestamp !important;
    font-family: $font;
    font-size: 16px !important;
    line-height: 1 !important;
  }
}

/* Badges. */
yt-live-chat-text-message-renderer {
  #author-name[type="owner"],
  #author-name.owner,
  yt-live-chat-author-badge-renderer[type="owner"] {
    color: $color-owner !important;
  }
  #author-name[type="moderator"],
  #author-name.moderator,
  yt-live-chat-author-badge-renderer[type="moderator"] {
    color: $color-moderator !important;
  }
  #author-name[type="member"],
  #author-name.member,
  yt-live-chat-author-badge-renderer[type="member"] {
    color: $color-member !important;
  }
}

/* Channel names. */
yt-live-chat-text-message-renderer {
  #author-name {
    @include name-window();
    color: $color-author-name !important;
    font-family: $font;
    font-size: 16px !important;
    line-height: 1 !important;
  }
}

/* Messages. */
yt-live-chat-text-message-renderer {
  #message {
    &,
    & * {
      color: $color-message !important;
      font-family: $font;
      font-size: 14px !important;
      line-height: 1 !important;
    }
  }
}

/* SuperChat/Fan Funding Messages. */
yt-live-chat {
  &-paid,
  &-legacy-paid {
    &-message-renderer {
      @include message-window();
      padding-top: 16px;
      & #author-name,
      & #event-text {
        &,
        & * {
          color: $color-message!important;
          font-family: $font;
          font-size: 20px !important;
          font-weight: bold;
          line-height: 1 !important;
        }
      }
      & #purchase-amount,
      & #detail-text {
        &,
        & * {
          color: $color-message !important;
          font-family: $font;
          font-size: 18px !important;
          line-height: 1 !important;
        }
      }

    }
  }
  &-paid-message-renderer {
    margin: 0 !important;
    padding-top: 32px !important;
    & #header {
      min-height: auto !important;
      @include name-window();
      &::after {
        display: none;
      }
      &-content {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }
      & #author-name {
        &::after {
          content: ':';
          margin: 0 8px;
        }
      }
      & #purchase-amount {
        font-size: 24px !important;
      }
    }
    & #content {
      background: transparent !important;
      &,
      & * {
        color: $color-message !important;
        font-family: $font;
        font-size: 18px !important;
        line-height: 1 !important;
        display: flex;
        flex-direction: column;
        gap: 16px;
        filter: drop-shadow(0 0 2px #fff6);
      }
    }
  }
  &-legacy-paid-message-renderer {
    background-color: rgb(30, 120, 60) !important;
    box-shadow: none !important;
    margin: 4px 0 !important;
  }
  &-text,
  &-legacy-paid {
    &-message-renderer {
      & a {
        text-decoration: none !important;
      }
      &[is-deleted] {
        display: none !important;
      }
    }
  }
  
  &-ticker {
    &-renderer {
      background-color: transparent !important;
      box-shadow: none !important;
      display: none !important;
    }
    &-paid-message,
    &-sponsor {
      &-item-renderer {
        &,
        & * {
          color: $color-message !important;
          font-family: $font;
        }
      }
    }
  }
  &-mode-change-message,
  &-viewer-engagement-message,
  &-restricted-participation {
    &-renderer {
      display: none !important;
    }
  }
  &-banner-manager {
    display: none !important;
  }
  &-action-panel-renderer,
  &-renderer #action-panel {
    display: none !important;
  }
}

/* Animation */
@keyframes cycle {
  0% {
    transform: scale(1) translateY(8px);
    transform-origin: top;
    opacity: 0;
  }
  5% {
    transform: scale(1) translateY(0);
    transform-origin: top;
    opacity: 1;
  }
  97% {
    transform: scale(1) translateY(0);
    transform-origin: top;
    opacity: 1;
  }
  99.9% {
    transform: scale(0) translateY(0);
    transform-origin: top;
    opacity: 0;
    position: relative;
  }
  100% {
    display: none;
    opacity: 0;
    position: fixed;
  }
}
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: .9;
  }

}

yt-live-chat {
  &-text,
  &-legacy-paid,
  &-paid {
    &-message-renderer {
      animation: cycle 30000ms forwards;
    }
  }
}
yt-live-chat {
  &-paid {
    &-message-renderer {
      & #header {
        & #purchase-amount {
          animation: flash 800ms infinite;
        }
      }
    }
  }
}

