@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
/* Background colors*/
body {
  overflow: hidden;
  background-color: transparent !important;
}

/* Transparent background. */
yt-live-chat-renderer {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer, yt-live-chat-text-message-renderer[is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="owner"], yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="moderator"], yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="member"], yt-live-chat-text-message-renderer[author-type="member"][is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-author-chip #author-name {
  background-color: transparent !important;
}

/* Hide scrollbar. */
yt-live-chat-item-list-renderer #items,
yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}

/* Hide header and input. */
yt-live-chat-header-renderer, yt-live-chat-message-input-renderer {
  display: none !important;
}

/* Reduce side padding. */
yt-live-chat-text-message-renderer, yt-live-chat-legacy-paid-message-renderer {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

yt-live-chat-paid-message-renderer #header {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

/* Avatars. */
yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-legacy-paid-message-renderer #author-photo {
  width: 32px !important;
  height: 32px !important;
  border-radius: 32px !important;
  margin-right: 6px !important;
}

/* Hide badges. */
yt-live-chat-text-message-renderer #author-badges {
  display: none !important;
  vertical-align: text-top !important;
}

/* Timestamps. */
yt-live-chat-text-message-renderer #timestamp {
  color: #5a5a5a !important;
  font-family: "Hachi Maru Pop", cursive;
  font-size: 16px !important;
  line-height: 16px !important;
}

/* Badges. */
yt-live-chat-text-message-renderer #author-name[type="owner"],
yt-live-chat-text-message-renderer #author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
  color: #1eb45a !important;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"],
yt-live-chat-text-message-renderer #author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
  color: #d21e1e !important;
}

yt-live-chat-text-message-renderer #author-name[type="member"],
yt-live-chat-text-message-renderer #author-name.member,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
  color: #1e783c !important;
}

/* Channel names. */
yt-live-chat-text-message-renderer #author-name {
  color: #1e78b4 !important;
  font-family: "Hachi Maru Pop", cursive;
  font-size: 16px !important;
  line-height: 1 !important;
}

/* Messages. */
yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
  color: #1e1e1e !important;
  font-family: "Hachi Maru Pop", cursive;
  font-size: 14px !important;
  line-height: 1 !important;
}

/* SuperChat/Fan Funding Messages. */
yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-paid-message-renderer #event-text,
yt-live-chat-paid-message-renderer #event-text *, yt-live-chat-legacy-paid-message-renderer #author-name,
yt-live-chat-legacy-paid-message-renderer #author-name *,
yt-live-chat-legacy-paid-message-renderer #event-text,
yt-live-chat-legacy-paid-message-renderer #event-text * {
  color: white !important;
  font-family: "Hachi Maru Pop", cursive;
  font-size: 20px !important;
  line-height: 20px !important;
}

yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-paid-message-renderer #detail-text,
yt-live-chat-paid-message-renderer #detail-text *, yt-live-chat-legacy-paid-message-renderer #purchase-amount,
yt-live-chat-legacy-paid-message-renderer #purchase-amount *,
yt-live-chat-legacy-paid-message-renderer #detail-text,
yt-live-chat-legacy-paid-message-renderer #detail-text * {
  color: white !important;
  font-family: "Hachi Maru Pop", cursive;
  font-size: 18px !important;
  line-height: 18px !important;
}

yt-live-chat-paid-message-renderer {
  margin: 4px 0 !important;
}

yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content * {
  color: white !important;
  font-family: "Hachi Maru Pop", cursive;
  font-size: 18px !important;
  line-height: 18px !important;
}

yt-live-chat-legacy-paid-message-renderer {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin: 4px 0 !important;
}

yt-live-chat-text-message-renderer a, yt-live-chat-legacy-paid-message-renderer a {
  text-decoration: none !important;
}

yt-live-chat-text-message-renderer[is-deleted], yt-live-chat-legacy-paid-message-renderer[is-deleted] {
  display: none !important;
}

yt-live-chat-ticker-renderer {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  display: none !important;
}

yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *, yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
  color: white !important;
  font-family: "Hachi Maru Pop", cursive;
}

yt-live-chat-mode-change-message-renderer, yt-live-chat-viewer-engagement-message-renderer, yt-live-chat-restricted-participation-renderer {
  display: none !important;
}

yt-live-chat-banner-manager {
  display: none !important;
}

yt-live-chat-action-panel-renderer,
yt-live-chat-renderer #action-panel {
  display: none !important;
}

/* Animation */
@-webkit-keyframes anime {
  0% {
    -webkit-transform: scale(0) translateY(5px);
            transform: scale(0) translateY(5px);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@keyframes anime {
  0% {
    -webkit-transform: scale(0) translateY(5px);
            transform: scale(0) translateY(5px);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}

@-webkit-keyframes anime_paid {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anime_paid {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

yt-live-chat-text-message-renderer, yt-live-chat-legacy-paid-message-renderer {
  -webkit-animation: anime 600ms both;
          animation: anime 600ms both;
}

yt-live-chat-paid-message-renderer {
  -webkit-animation: anime_paid 600ms both;
          animation: anime_paid 600ms both;
}

/*Speech bubble*/
yt-live-chat-text-message-renderer #content, yt-live-chat-legacy-paid-message-renderer #content {
  width: auto;
  margin-left: 10px;
  background-color: white;
  padding: .25em .25em .75em;
  border-radius: 8px;
  position: relative;
}

yt-live-chat-text-message-renderer #content::before, yt-live-chat-legacy-paid-message-renderer #content::before {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  left: -18px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0px 0px 20px;
  border-color: white transparent transparent;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

yt-live-chat-text-message-renderer #message, yt-live-chat-legacy-paid-message-renderer #message {
  display: block;
  margin-top: 5px;
}

yt-live-chat-legacy-paid-message-renderer #content {
  background-color: #1e783c;
}

yt-live-chat-legacy-paid-message-renderer #content::before {
  border-color: #1e783c transparent transparent;
}
/*# sourceMappingURL=comments.css.map */