@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* Background colors*/
body {
  overflow: hidden;
  background-color: transparent !important;
}

/* Transparent background. */
yt-live-chat-renderer {
  background-color: transparent !important;
  outline: none !important;
  padding-top: 32px;
}

yt-live-chat-text-message-renderer, yt-live-chat-text-message-renderer[is-highlighted] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 32px 8px 16px;
  position: relative;
}
yt-live-chat-text-message-renderer:not(:first-child), yt-live-chat-text-message-renderer[is-highlighted]:not(:first-child) {
  margin-top: 32px !important;
}
yt-live-chat-text-message-renderer #content, yt-live-chat-text-message-renderer[is-highlighted] #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
yt-live-chat-text-message-renderer[author-type=owner], yt-live-chat-text-message-renderer[author-type=owner][is-highlighted] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 32px 8px 16px;
  position: relative;
}
yt-live-chat-text-message-renderer[author-type=owner]:not(:first-child), yt-live-chat-text-message-renderer[author-type=owner][is-highlighted]:not(:first-child) {
  margin-top: 32px !important;
}
yt-live-chat-text-message-renderer[author-type=owner] #content, yt-live-chat-text-message-renderer[author-type=owner][is-highlighted] #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
yt-live-chat-text-message-renderer[author-type=moderator], yt-live-chat-text-message-renderer[author-type=moderator][is-highlighted] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 32px 8px 16px;
  position: relative;
}
yt-live-chat-text-message-renderer[author-type=moderator]:not(:first-child), yt-live-chat-text-message-renderer[author-type=moderator][is-highlighted]:not(:first-child) {
  margin-top: 32px !important;
}
yt-live-chat-text-message-renderer[author-type=moderator] #content, yt-live-chat-text-message-renderer[author-type=moderator][is-highlighted] #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
yt-live-chat-text-message-renderer[author-type=member], yt-live-chat-text-message-renderer[author-type=member][is-highlighted] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 32px 8px 16px;
  position: relative;
}
yt-live-chat-text-message-renderer[author-type=member]:not(:first-child), yt-live-chat-text-message-renderer[author-type=member][is-highlighted]:not(:first-child) {
  margin-top: 32px !important;
}
yt-live-chat-text-message-renderer[author-type=member] #content, yt-live-chat-text-message-renderer[author-type=member][is-highlighted] #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

yt-live-chat-author-chip #author-name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 32px 8px 16px;
  position: relative;
}
yt-live-chat-author-chip #author-name:not(:first-child) {
  margin-top: 32px !important;
}
yt-live-chat-author-chip #author-name #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

/* Hide scrollbar. */
yt-live-chat-item-list-renderer #items,
yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}

/* Hide header and input. */
yt-live-chat-header-renderer, yt-live-chat-message-input-renderer {
  display: none !important;
}

/* Avatars. */
yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-legacy-paid-message-renderer #author-photo {
  display: none !important;
}

/* Hide badges. */
yt-live-chat-text-message-renderer #author-badges {
  display: none !important;
  vertical-align: text-top !important;
}

/* Timestamps. */
yt-live-chat-text-message-renderer #timestamp {
  color: rgb(90, 90, 90) !important;
  font-family: "DotGothic16", sans-serif;
  font-size: 16px !important;
  line-height: 1 !important;
}

/* Badges. */
yt-live-chat-text-message-renderer #author-name[type=owner],
yt-live-chat-text-message-renderer #author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type=owner] {
  color: rgb(141, 127, 218) !important;
}
yt-live-chat-text-message-renderer #author-name[type=moderator],
yt-live-chat-text-message-renderer #author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type=moderator] {
  color: rgb(210, 30, 30) !important;
}
yt-live-chat-text-message-renderer #author-name[type=member],
yt-live-chat-text-message-renderer #author-name.member,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type=member] {
  color: rgb(226, 166, 97) !important;
}

/* Channel names. */
yt-live-chat-text-message-renderer #author-name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 0.5em 0.75em 0.55em;
  position: absolute;
  top: -16px;
  left: 8px;
  color: rgb(255, 255, 255) !important;
  font-family: "DotGothic16", sans-serif;
  font-size: 16px !important;
  line-height: 1 !important;
}
yt-live-chat-text-message-renderer #author-name::after {
  content: ":";
}

/* Messages. */
yt-live-chat-text-message-renderer #message, yt-live-chat-text-message-renderer #message * {
  color: rgb(255, 255, 255) !important;
  font-family: "DotGothic16", sans-serif;
  font-size: 14px !important;
  line-height: 1 !important;
}

/* SuperChat/Fan Funding Messages. */
yt-live-chat-paid-message-renderer, yt-live-chat-legacy-paid-message-renderer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 32px 8px 16px;
  position: relative;
  padding-top: 16px;
}
yt-live-chat-paid-message-renderer:not(:first-child), yt-live-chat-legacy-paid-message-renderer:not(:first-child) {
  margin-top: 32px !important;
}
yt-live-chat-paid-message-renderer #content, yt-live-chat-legacy-paid-message-renderer #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
yt-live-chat-paid-message-renderer #author-name, yt-live-chat-paid-message-renderer #author-name *, yt-live-chat-paid-message-renderer #event-text, yt-live-chat-paid-message-renderer #event-text *, yt-live-chat-legacy-paid-message-renderer #author-name, yt-live-chat-legacy-paid-message-renderer #author-name *, yt-live-chat-legacy-paid-message-renderer #event-text, yt-live-chat-legacy-paid-message-renderer #event-text * {
  color: rgb(255, 255, 255) !important;
  font-family: "DotGothic16", sans-serif;
  font-size: 20px !important;
  font-weight: bold;
  line-height: 1 !important;
}
yt-live-chat-paid-message-renderer #purchase-amount, yt-live-chat-paid-message-renderer #purchase-amount *, yt-live-chat-paid-message-renderer #detail-text, yt-live-chat-paid-message-renderer #detail-text *, yt-live-chat-legacy-paid-message-renderer #purchase-amount, yt-live-chat-legacy-paid-message-renderer #purchase-amount *, yt-live-chat-legacy-paid-message-renderer #detail-text, yt-live-chat-legacy-paid-message-renderer #detail-text * {
  color: rgb(255, 255, 255) !important;
  font-family: "DotGothic16", sans-serif;
  font-size: 18px !important;
  line-height: 1 !important;
}
yt-live-chat-paid-message-renderer {
  margin: 0 !important;
  padding-top: 32px !important;
}
yt-live-chat-paid-message-renderer #header {
  min-height: auto !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 0.5em 0.75em 0.55em;
  position: absolute;
  top: -16px;
  left: 8px;
}
yt-live-chat-paid-message-renderer #header::after {
  content: ":";
}
yt-live-chat-paid-message-renderer #header::after {
  display: none;
}
yt-live-chat-paid-message-renderer #header-content {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
yt-live-chat-paid-message-renderer #header #author-name::after {
  content: ":";
  margin: 0 8px;
}
yt-live-chat-paid-message-renderer #header #purchase-amount {
  font-size: 24px !important;
}
yt-live-chat-paid-message-renderer #content {
  background: transparent !important;
}
yt-live-chat-paid-message-renderer #content, yt-live-chat-paid-message-renderer #content * {
  color: rgb(255, 255, 255) !important;
  font-family: "DotGothic16", sans-serif;
  font-size: 18px !important;
  line-height: 1 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.4));
          filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.4));
}
yt-live-chat-legacy-paid-message-renderer {
  background-color: rgb(30, 120, 60) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin: 4px 0 !important;
}
yt-live-chat-text-message-renderer a, yt-live-chat-legacy-paid-message-renderer a {
  text-decoration: none !important;
}
yt-live-chat-text-message-renderer[is-deleted], yt-live-chat-legacy-paid-message-renderer[is-deleted] {
  display: none !important;
}
yt-live-chat-ticker-renderer {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  display: none !important;
}
yt-live-chat-ticker-paid-message-item-renderer, yt-live-chat-ticker-paid-message-item-renderer *, yt-live-chat-ticker-sponsor-item-renderer, yt-live-chat-ticker-sponsor-item-renderer * {
  color: rgb(255, 255, 255) !important;
  font-family: "DotGothic16", sans-serif;
}
yt-live-chat-mode-change-message-renderer, yt-live-chat-viewer-engagement-message-renderer, yt-live-chat-restricted-participation-renderer {
  display: none !important;
}
yt-live-chat-banner-manager {
  display: none !important;
}
yt-live-chat-action-panel-renderer, yt-live-chat-renderer #action-panel {
  display: none !important;
}

/* Animation */
@-webkit-keyframes cycle {
  0% {
    -webkit-transform: scale(1) translateY(8px);
            transform: scale(1) translateY(8px);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  5% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  97% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  99.9% {
    -webkit-transform: scale(0) translateY(0);
            transform: scale(0) translateY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
    position: relative;
  }
  100% {
    display: none;
    opacity: 0;
    position: fixed;
  }
}
@keyframes cycle {
  0% {
    -webkit-transform: scale(1) translateY(8px);
            transform: scale(1) translateY(8px);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  5% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  97% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  99.9% {
    -webkit-transform: scale(0) translateY(0);
            transform: scale(0) translateY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
    position: relative;
  }
  100% {
    display: none;
    opacity: 0;
    position: fixed;
  }
}
@-webkit-keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
}
@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
}
yt-live-chat-text-message-renderer, yt-live-chat-legacy-paid-message-renderer, yt-live-chat-paid-message-renderer {
  -webkit-animation: cycle 30000ms forwards;
          animation: cycle 30000ms forwards;
}

yt-live-chat-paid-message-renderer #header #purchase-amount {
  -webkit-animation: flash 800ms infinite;
          animation: flash 800ms infinite;
}/*# sourceMappingURL=comments.css.map */